*{
 margin:0px;
 color:white;
}
@keyframes shine{
  from{
    transform:rotate(-60deg) translateX(-70px);
  }
  to{
    transform:rotate(-60deg) translateX(160px);
  }
}
body{
  background-image: url('photos/background.jpg');
  background-repeat: no-repeat;
  background-size:cover;
}
html,body,.loading{
  height:100%;
  width:100%;
}
.loading{
   display:flex;
  align-items:center;
  justify-content:center;
  position: absolute;
  z-index:5;
  background:white;
}
.loading::before,.loading::after{
  content:"";
  height:60px;
  width:60px;
  background:grey;
  border:2px solid black;
  position:relative;
}
.loading::before{
  bottom:-50px;
  right:-50px;
  
}
.loading::after{
  top:-45px;
  left:-35px;
  
}
.loading h1{
  padding:3px;
  padding-left:20px;
  padding-right:22px;
  background:black;
  color:white;
  z-index:1;
 /* border:5px solid darkgrey;*/
  box-shadow:3px 3px 5px grey;
  font-family:serif;
  font-style:italic;
  text-shadow:2px 2px 3px lightgrey;
}
.loading h1::before,.loading h1::after{
  content:"";
  display:block;
  height:20px;
  width:30px;
}
.loading h1::before{
  border-left:4px solid white;
  border-top:4px solid white;
  position:relative;
  left:-17px;
}
.loading h1::after{
  border-right:4px solid white;
  border-bottom:4px solid white;
  position:relative;
  right:-78px;
}
.loading .shine{
  background-color:rgba(255,255,255,0.8);
  height:300px;
  box-shadow:5px 5px 20px white;
  width:7px;
  animation:shine;
  z-index:2;
  animation-duration:1s;
  animation-timing-function:linear;
}

/*MAIN*/
.main{
 backdrop-filter:blur(2px);
  height:100vh;
  width:100vw;
}
.main span{
  display:block;
  width:200px;
  height:0px;
  margin:0 auto 30px auto;
  border-top:40px solid grey;
  border-left:20px solid transparent;
  border-right:20px solid transparent;
}
.main img{
  display:block;
  width:70%;
  transform:translateX(-90px);
}
.welc{
  border:1px solid black;
  border-radius:50px;
  width:70px;
 font-size:2px;
 font-weight:500;
  margin-left:auto;
}
.download{
  flex:0 0 auto;
  width:200px;
  display:flex;
  align-items:center;
  justify-content:center;
  transform:translateX(-50px);
}
.prof{
  width:50%;
  border:1px solid black;
  display:none;
}
.download a{
  text-decoration:none;
  color:white;
  backdrop-filter:blur(2px);
  border:2px solid white;
  border-radius:50px;
  padding:8px;
  font-family:serif;
  box-shadow:3px 3px 3px grey;
}
.download a:hover{
  background-color:black;
  border:2px solid white;
  cursor:pointer;
}